.container.main-container {
    max-width: 80rem;
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
  }

  .unavailable {
    color: white;
    background-color: red !important;
  }

  .available {
    color: white;
    background-color: green !important;
  }

